{% extends "base.html" %}

{% block body %}

<!-- Submit Ad -->
<div class="submit-ad main-grid-border">
    <div class="container">
        <h2 class="head">Your Profile</h2>
        <div class="post-ad-form">
            <!-- <h3>{{profile}}</h3> -->
            <div>
                
            </div>
        </div>
    
        <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
            <div>
                                 <div id="container">

                 <div class="clearfix"></div>
             <ul class="list">
                 
                 {% for product in ad_list %}
                     <a href="{% url 'products:product_detail' product.slug %}">
                         <li>
                         <img src="{{product.image.url}}" title="" alt="" />
                         <section class="list-left">
                         <h5 class="title">{{product.name}}</h5>
                         <span class="adprice">₹ {{product.price}}</span>
                         <p class="catpath">Mobile Phones » {{product.brand}}</p>
                         </section>
                         <section class="list-right">
                         <span class="date">Date, {{product.created}}</span>
                         
                         
                         <form action="{% url 'accounts:product_delete' product.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Delete">
                        </form> 
                        </section>
                         
                         <div class="clearfix"></div>
                         </li> 
                     </a>
                 {% endfor %}
             </ul>
         </div>
             </div>
         </div>
    </div>
</div>
</div>
<!-- // Submit Ad -->
{% endblock body %}
-------------